$mobile-main-nav-width: 100%;
$tablet-main-nav-width: 350px;
$ease-func: cubic-bezier(0.7, 0, 0.3, 1);

.main-nav-wrapper {
    @include media-breakpoint-down(lg) {
        position: fixed !important;
        top: 56px;
        left: 0;
        height: calc(100vh - 6px);
        z-index: 1000;
        width: $mobile-main-nav-width;
        background: #fff;
        transform: translate(-$mobile-main-nav-width, 0);
        transition: transform 0.3s;

        &.is-open,
        &.is-open-by-keyboard {
            transform: translate(0, 0);
        }

        &.is-open + .mobile-nav-close-mask {
            opacity: 1;
            height: 100%;
        }
    }
}

.mobile-scroll-wrapper {
    @include media-breakpoint-down(lg) {
        position: fixed;
        overflow: hidden;
        z-index: 10;
        height: 100%;
        width: 100%;
        transform: translateZ(0);
    }
}

.mobile-nav-close-mask {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s $ease-func 0.1s;
    background: rgba(#000, 0.4);
}

.main-nav {
    @include media-breakpoint-down(lg) {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        height: 100%;
    }
}

.sub-menu-blk {
    @include media-breakpoint-up(md) {
        position: absolute;
        top: 52px;
        left: 50%;
        width: 320px;
        background-color: rgba(#f7f7f7, 0.9);
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        transform: translateX(-50%);
        backdrop-filter: blur(5px);
    }
}
.menu-title {
    @include media-breakpoint-up(xl) {
        :is(.clear) & {
            color: $default !important;
        }
    }
}
