.bg-placeholder {
    background-color: #fff;
    //background-image: linear-gradient(-35deg, $primary 0%, $secondary 100%);
}

.bg-primary-10 {
    background-color: #e5f1f8;
}

.bg-primary-80 {
    background-color: rgba($primary, 0.8);
}
.bg-secondary-20 {
    background-color: rgba($secondary, 0.3);
}

.bg-cyan {
    background-color: #8bb8b6;
}

.bg-black-50 {
    background-color: rgba(#000, 0.5);
}

.bg-black-40 {
    background-color: rgba(#000, 0.4);
}

.bg-black-80 {
    background-color: rgba(#000, 0.8);
}

.bg-gray-200 {
    background-color: $gray-200 !important;
}

.bg-gray-300 {
    background-color: $gray-300 !important;
}

.bg-gray-400 {
    background-color: $gray-400 !important;
}
.bg-blur-20 {
    backdrop-filter: blur(20px);
}
.bg-gradient-bottom-black-80 {
    background: linear-gradient(
        to bottom,
        rgba(#000, 0.8) 0%,
        rgba(#000, 0) 100%
    );
}

.bg-gradient-top-black-80 {
    background: linear-gradient(to top, rgba(#000, 0.8) 0%, rgba(#000, 0) 100%);
}

.bg-hero {
    padding-top: 100%;
    background: center top no-repeat $light;
    background-size: cover;

    @include media-breakpoint-up(md) {
        padding-top: 296px;
    }

    @include media-breakpoint-up(xl) {
        padding-top: 37.5%;
    }
}

.bg-highlight {
    background-color: #f0c775;
}

.bg-highlight-10 {
    background-color: rgba(#f0c775, 0.1);
}

.bg-highlight-20 {
    background-color: rgba(#f0c775, 0.2);
}

.bg-gradient-top-black-80 {
    background: linear-gradient(to top, rgba(#000, 0.8) 0%, rgba(#000, 0) 100%);
}

.bg-white-75 {
    background-color: rgba(#fff, 0.75);
}

.bg-none {
    background: transparent !important;
}

.bg-dot {
    background: url(/public/images/global/bg-dot.png) repeat;
}
.bg-title-gradient{
    background: linear-gradient(90deg, #AACFB2 0%, #FFCB6E 50%, #AACFB2 100%);
}



