.btn {
    --color: #{$default};
    --hover-bg-color: #{$gray-100};
    --hover-color: #{$default};
    --bg-color: #{$white};
    --border-color: #{$gray-500};
    display: inline-flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    border: 1px var(--border-color) solid;
    color: var(--color);
    transition: transform 0.3s, opacity 0.3s, background 0.3s, color 0.3s;
    background-color: var(--bg-color);
    cursor: pointer;

    @media (hover: hover) {
        /* &:not(.act):hover,
        &:not(.act):focus-visible:focus {
            opacity: 0.8;
        } */
        &:is(:hover, :focus-visible:focus) {
            background-color: var(--hover-bg-color);
            color: var(--hover-color);
        }
    }

    &:is([disabled], .disabled) {
        background: #eee !important;
        color: #aaa;
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.3;
    }

    /* &:focus-visible:focus {
        box-shadow: $focus-hint;
    } */
}

$arr: (
    'primary': $primary,
    'secondary': $secondary,
    'danger': $danger
);

@each $name, $color in $arr {
    .btn.btn-#{$name} {
        --color: #fff;
        --hover-color: #fff;
        --bg-color: #{$color};
        --hover-bg-color: #{lighten($color, 10)};
        --border-color: transparent;
        background-color: var(--bg-color);
    }

    .btn.btn-outline-#{$name} {
        --color: #{$color};
        --border-color: #{$color};
        color: var(--color);
        &.act {
            color: #fff !important;
            background-color: $color;
        }
    }
}

.btn-white {
    --hover-color: #{$primary};
    --hover-bg-color: #{$white};
}

.btn-light {
    --bg-color: #{$light};
    --hover-bg-color: #{$primary};
    --hover-color: #{$white};
    --border-color: transparent;
}

.btn-outline-white {
    --color: #{$white};
    --hover-color: #{$default};
    --bg-color: transparent;
    --hover-bg-color: #{$white};
}

.btn-ghost {
    background-color: transparent;
    border-color: transparent;
    --hover-bg-color: #{$white};
}
.btn-open-menu {
    --button-color: #{$primary};
    .line {
        transition: y 0.3s ease-in 0.3s, transform 0.3s ease-in,
            opacity 0ms 0.3s;
        transform-origin: center;
    }
    &[aria-expanded='true'] {
        --button-color: #{$secondary};
        .line {
            transition: y 0.3s ease-in, transform 0.3s ease-in 0.3s,
                opacity 0s 0.3s;
        }
        :is(.top, .bottom) {
            y: 45;
        }
        .top {
            transform: rotate(42deg);
        }
        .middle {
            opacity: 0;
        }
        .bottom {
            transform: rotate(-42deg);
        }
    }
    .white & {
        --button-color: #{$secondary};
    }
}

.btn-select {
    &:before {
        content: '';
        display: block;
        border: 1px #d7d7d7 solid;
        border-radius: $border-radius;
        margin-right: 8px;
        background: #fff;
        flex-shrink: 0;
        @include size(18px, 18px);
    }

    &.radio:before {
        border-radius: 50%;
    }

    &.act,
    .hide-switch:checked + & {
        border-color: $primary;

        &:before {
            border-color: $primary;
            background: $primary;
            box-shadow: 0 0 0 3px #fff inset;
        }
    }

    @include media-breakpoint-up(xl) {
        &:hover,
        &.focus-visible:focus,
        .hide-switch:focus + & {
            background-color: rgba($primary, 0.5) !important;
        }
    }
}
