.hover-primary {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			color: $primary !important;
		}
	}
}
.hover-secondary {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			color: $secondary !important;
		}
	}
}

.hover-default {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			color: $default !important;
		}
	}
}

.hover-shadow {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			box-shadow: $box-shadow;
		}
	}
}

.hover-border {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			outline: solid 2px rgba($secondary, 1);
		}
	}
}

.hover-link {
	@media (hover: hover) {
		&:hover,
		&:focus-visible:focus {
			text-decoration: underline !important;
		}
	}
}

.hover-thumb-scale {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			.thumb {
				transform: scale(1.1);
			}
		}
	}
}

.hover-bg-primary-20 {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			background-color: rgba($primary, 0.5) !important;
		}
	}
}

.hover-bg-primary {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			background-color: $primary !important;
		}
	}
}

.hover-bg-secondary {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			background-color: $secondary !important;
		}
	}
}

.hover-white {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			color: $white !important;
		}
	}
}

.hover-danger-20 {
	@media (hover: hover) {
		&:is(:hover, :focus-visible:focus) {
			color: rgba($danger, 0.8) !important;
		}
	}
}

.hover-op-100 {
	opacity: 0;
	pointer-events: none;

	*:hover > & {
		opacity: 1;
		pointer-events: auto;
	}
}

.hover-shadow-inset {
	@media (hover: hover) {
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 200;
			box-shadow: 0 5px 10px 10px rgba($secondary, 0.2) inset;
			opacity: 0;
			transition: opacity 0.3s;
		}

		&:is(:hover, :focus-visible:focus) {
			&:before {
				opacity: 1;
			}
		}
	}
}


